.card_image{
    width: 250px;
    height: 300px;
    object-fit: cover;
    margin: 2px;
}
.div_three_cards{
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}
.card{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}
.span_text{
    font-size: 20px;
}