.inputs{
    font-size: 15px;
    padding: 15px 50px;
    border: none;
    border-radius: 2rem;
    background-color: rgb(243, 243, 243);
    margin-bottom: 30px;
}

.button__shop{
    background-color: rgb(187, 5, 58);
    cursor: pointer;
}


.form{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.div_form_order{
    padding-top: 100px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1.6fr 1fr;
}

.div_with_form{
    margin-top: 65px;
    margin-left: 70px;
}

.image{
    justify-content: left;
    height: 70vh;
    width: 95vh;
}

.paragraph{
    margin-left: 22px;
}

@media (max-width : 992px)
{
    .image{
        display: none;
        height: 10vh;
    }
}

@media (max-width : 756px) {
    .image{
        display: none;
    }
}
